@font-face {
    font-family: "Proxima Nova";
    src: url('../fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: "Proxima Nova";
    src: url('../fonts/ProximaNova-Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: "Proxima Nova";
    src: url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: "Proxima Nova";
    src: url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: 600;
}
a{
    text-decoration: none;
}
body{
    background: #282B38;
    font-family: "Proxima Nova";
    font-weight: 400;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.container{
    width: 1200px;
    margin: 0 auto;
}

/* header */

/* расположение шапки, отступы вверх и вниз */
.header_wrapper{
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* настройки текста */
.header_nav{
    margin-right: 40px;
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-size: 16px;
    line-height: 146%;
    color: #FFFFFF;
}
/* выделение текста */
.header_nav:hover{
    text-decoration: overline;
}
/* настройки текста кнопки */
.header_alt{
    margin-left: -40px;
    cursor: pointer;
    width: 170px;
    height: 50px;
    font-family: 'Proxima Nova';
    font-weight: 600;
    font-size: 15px;
    line-height: 146%;
    text-align: center;
    color: #FFFFFF;
    background: #E58D35;
    border-radius: 90px;
    border: none;
}
/* тень кнопки */
.header_alt:hover{
    box-shadow: 0 0 10px #FFFFFF;
}

/* main */

/*  */
.main_wrapper{
    margin-top: 150px;
}
.main_content{
    margin-left: -600px;
}
.main_back{
    background: url('../img/photo/cargo_main.png') no-repeat center center / cover;
    width: 1820px;
    height: 700px;
    margin: 0 auto;
}
.main_back2{
    margin-left: -150px;
    width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_title{
    font-family: 'Proxima Nova';
    font-weight: 700;
    font-size: 56px;
    line-height: 126%;
    text-transform: uppercase;
    color: #FFFFFF;
}
.main_text{
    margin: 30px 0;
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-size: 20px;
    line-height: 135.5%;
    color: #FFFFFF;
}
.main_alt{
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 270px;
    height: 70px;
    font-family: 'Proxima Nova';
    font-weight: 600;
    font-size: 15px;
    line-height: 146%;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
    background: #E58D35;
    border-radius: 90px;
    border: none;
}
.main_arrow_btn{
    margin-left: 20px;
}
.main_alt:hover{
    box-shadow: 0 0 10px #FFFFFF;
}
.main_eclipse{
    display: flex;
    justify-content: space-between;
    width: 110px;
    margin-top: 160px;
    margin-right: -470px;
}
/* 0 */


/* we */
/*  */
.we{
    background: linear-gradient(0deg, #363A4D, #363A4D), #F7F7F7;
    border-radius: 20px;
    width: 1820px;
    height: 725px;
    margin: 0 auto;
}
/*  */
.we_title{
    text-align: center;
    font-family: 'Proxima Nova';
    font-weight: 700;
    font-size: 36px;
    line-height: 124.5%;
    padding-top: 90px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 20px;
    transition: 1.1s;
}
.we_title:hover{
    color: #E58D35;
    transform: color;
}
/*  */
.we_line{
    display: flex;
    margin: 0 auto;
}
/*  */
.we_icon{
    transition: 0.5s;
}
.we_icon:hover{
    transform: scale(1.1);
}
/*  */
.we_block{
    text-align: center;
}
.we_block2{
    text-align: center;
    margin-right: -20px;
}
.we_block3{
    text-align: center;
    margin-right: -48px;

}
/*  */
.we_icons{
    display: flex;
    justify-content: space-between;
}
/*  */
.we_block_text{
    margin-top: 21px;
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-size: 16px;
    line-height: 124.5%;
    color: #FFFFFF;
}
/*  */
.we_icons{
    margin-top: 50px;
}

/*  */
/*  */
.var_title{
    font-family: 'Proxima Nova';
    font-weight: 700;
    font-size: 36px;
    line-height: 124.5%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 95px;
    margin-bottom: 20px;
}
/*  */
.var_line{
    display: flex;
    margin: 0 auto;
}
/*  */
.var_card{
    width: 360px;
    height: 480px;
    border-radius: 20px;
    background: #363A4D;
    box-shadow: 5px 15px 40px rgba(30, 35, 66, 0.15);
}
/*  */
.card_card_title{
    font-family: 'Proxima Nova';
    margin-top: 25px;
    font-weight: 700;
    font-size: 22px;
    line-height: 124.5%;
    text-align: center;
    color: #FFFFFF;
}